[service]
# 日志等级
# 可选值: DEBUG, INFO, WARN, ERROR, FATAL
log_level = "WARN"

[trigger.http]
host = "0.0.0.0"
port = 9092
# 覆盖自动生成的公共URL，如果与TR客户端不再同一个环境运行，这很有用
root_rul = "http://localhost:9092"
timeout = "5s"

[infra.tr]
# Transmission RPC URL
# Example: http://user:password@tr_rpc_host:port/transmission/rpc
rpc_url = "http://${USER:admin}:${PASS:admin}@localhost:9091/transmission/rpc"
# 刷新tr数据的时间间隔
request_interval = "5s"
# 添加以下 transfer 到新的种子
# 换行符间隔
transfer = """
https://btn-prod.ghostchu-services.top/tracker/announce
"""
# 自定义订阅列表
sub_transfer = "https://cf.trackerslist.com/best.txt"
# 添加种子时添加指定标签
add_torrent_label = "trproxy"
# transfer 刷新到种子的时间间隔, 3小时
transfer_request_interval = "10800s"
